.archive-projects{
	.projects-wrapper{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		@supports (display: grid) {
			display: grid;
			grid-gap: 15px;
			grid-template-columns: repeat(3, 1fr);
		}
		a.archive-collection-single{
		  	color: #fff;
		  	font-size: 150%;
		  	display: block;
		  	position: relative;
		  	article{
		  		display: flex;
		  		flex-flow: column nowrap;
			    justify-content: space-between;
			    height: 100%;
		  	}
		  	&.explainer-cell div.img{
		  		background-color: black;
		  		color: white;
		  		border: 1px solid black;
		  		padding: 40px;
		  		text-align: left;
		  		font-weight: 300;
		  		line-height: 1.4;
		  		@include fontSize(18);
		  		display: flex;
			    flex-flow: column nowrap;
			    justify-content: space-evenly;
			    // align-items: flex-end;
		  		letter-spacing: 1px;
		  		transition: all 0.4s ease;
		  		p{
					color: white;
		  		}
		  		p:first-of-type{
		  			padding-bottom: 20px;
		  		}
		  	}
		  	&.explainer-cell:hover div.img{
		  		background-color: white;
		  		color: black;
		  		p{
					color: black;
		  		}
		  	}
		  	.overlay{
		  		visibility: hidden;
		  		opacity: 0;
				position: absolute;
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				top:0;
				bottom:0;
				left:0;
				right:0;
				background: rgba(256,256,256,0.8);
				transition: all 0.2s ease;
				h4{
					@include fontSize(18);
				    padding: 15px;
				    letter-spacing: 2px;
				}
		  	}
		  	&:hover .overlay{
				visibility: visible;
		  		opacity: 1;
		  	}
		}

		@supports (display: grid) {
			a.archive-collection-single:nth-of-type(2n - 1), a.archive-collection-single:nth-of-type(2){
				grid-column: span 2;
			}
			a.archive-collection-single:nth-of-type(3n){
				grid-column: span 3;
			}
			a.archive-collection-single.actually1column{
				grid-column: span 1;
			}
			a.archive-collection-single.actually2column{
				grid-column: span 2;
			}
			a.archive-collection-single.actually3column{
				grid-column: span 3;
			}
			a.archive-collection-single.explainer-cell{
				grid-row: 1;
				grid-column: 3;
			}
		}
		.archive-collection-single{
			width: calc(33.333% - 24px);
			margin: 12px;
			float: left;
			@supports (display: grid) {
				width: 100%;
				margin: 0px;
			}
			div.img{
				width: 100%;
				height: 300px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		a.archive-collection-single.hide{
			display: none;
		}
		.tallbox{
			grid-row: span 2;
		}
		.project-slider-under2{
			width: 50%;
		}
	}
}