.basic-main{
	width: 67%;
	float: left;
	padding-top: 25px;
	&.no-sidebar{
		width: 100%;
		float: none;
		.basic-post{
			width: calc(25% - 20px);
		}
	}
}
.basic-archive{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.basic-post{
		width: calc(33.333% - 20px);
		margin: 10px 0px;
		padding: 30px;
		border: 1px solid #dddddd;;
		box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.15);
		display: flex;
		flex-flow: row nowrap;
		article{
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: center;
		}
		h3{
			padding: 20px;
			text-transform: initial;
			font-weight: 300;
			text-align: center;
			@include fontSize(14);
		}
	}
}	
.sidebar-basic-archive{
	width: 33%;
	float: left;
	padding: 10px 20px;
	h4{
		padding-bottom: 15px;
	}
}