@media (max-width: 1180px) {	
	.dropbtn {
    	width: 150px;
	}
	.nav-main-overalList li.nav-main-link a div.simple-logo {
	    width: 118px;
	    margin: 32px 25px;
	}
	main.main-page {
	    padding-left: 30px;
	    padding-right: 30px;
	}
}
@media (max-width: 1135px){
	.dropbtn {
    	width: 130px;
	}
	.nav-main-overalList li.nav-main-link a div.simple-logo {
	    width: 100px;
	    margin: 32px 20px;
	}
	.nav-topBar .nav-utiity-container .nav-utility-links {
		flex-flow: column-reverse nowrap;
		align-items: center;
	}
	footer .footer-utilities-extras .oneline-form input[type=text] {
	    width: 190px;
	}
}
@media (max-width: 1060px){
	footer .footer-menu{
		flex-flow: column nowrap;
	}
	.footer-menu .madeWithLove{
		display: none;
	}
	.footer-utilities-extras  nav.social-nav{
		display: none;
	}
	footer ul#menu-main-footer-menu {
	    padding: 10px 0;
	    justify-content: space-between;
	}
	footer .midsized-footer{
		display: flex;
		margin: 0px 0 7px;
	    flex-flow: column-reverse nowrap;
	    align-items: center;
	    .madeWithLove{
	    	padding: 5px;
	    }
	}
	.sub-footer ul {
    	justify-content: center;
	}
}
@media (max-width: 1025px){
	.topBar-socialNav{
		display: none;
	}
	header .midsize-social{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: black;
		.social-menu {
			padding: 0px 10px 3px;
			a{
				font-size: 11px;
				color: white;
			}
		}
	}
	// footer .footer-utilities-extras>* {
 //    	margin: 0px -5px 12px;
	// }

	footer .footer-utilities-extras .newsletter{
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 925px) {
	.footer-utilities-address  {
		flex-flow: row wrap;
		position: relative;
	}
	footer .footer-utilities-extras .catalogue-links button {
    	margin: 0 0 0 10px;
	}
	footer .footer-utilities-extras>* {
    	margin: 0px 0px 10px;
	}
	.address-container{
		padding-bottom: 5px;
		display: flex;
	    flex-flow: column nowrap;
	    justify-content: center;
	}
	.address-container:nth-child(3){
		padding-left: 26px;
	}

	footer ul#menu-main-footer-menu {
	    flex-flow: row wrap;
	    justify-content: space-evenly;
	    li{
	    	padding: 5px;
	    }
	}
	.blurb {
	    top: 295px;
	    width: 60%;
	}
	footer .footer-utilities-extras {
	    flex-flow: column nowrap;
	}
}	
@media (max-width: 890px) {	
	header .midsize-social {
		display: none;
	}
	main.main-page {
	    padding-top: 30px;
	}
	.fullscreen-nav{
		display: none;
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    background: white;
	    overflow-x: scroll;
	}
	.topBar-socialNav{
		width: 255px;
	}
	.nav-topBar .social-menu {
	    display: flex;
	    flex-flow: row nowrap;
	    justify-content: space-evenly;
	}
	.mobile-menu-icon{
		display: block;
		font-size: 30px;
		right: 0px;
		padding: 10px;
		top: 5px;
    	position: absolute;
	}
	.dropbtn, .nav-main-link a{
		display: none;
	}
	.dropdown-content{
		display: block;
		position: static;
		top: 0;
		z-index: 9999;
		box-shadow: none;
		padding: 30px 20px 0px;
		.innerWrapper{
			flex-flow: column nowrap;
			padding: 0px 5% 0px;
			section{
    			width: 100%;
			}
			section.dropdownSection-about{
				display: flex;
    			flex-flow: column-reverse nowrap;
    			.whoWeAre{
					padding: 10px 0 20px;
				}
			}
			.main-menu {
				padding-bottom: 10px;
			}
		}
	}
	.nav-topBar {
		align-items: center;
		height: 60px;
		.topBar-utilityNav{
			order: 1;
		}
		.nav-utiity-container{
			flex-flow: column nowrap;
			padding: 10px 38px;
			align-items: stretch;
			.nav-utility-links{
				flex-flow: row-reverse nowrap;
			}
		}
	}
	.logo-top {
		width: 100px;
	    min-width: 100px;
	}
	.nav-main-overalList{
		flex-flow: column nowrap;
	}
}

@media (max-width: 650px){
	.blurb {
	    top: 160px;
	    width: 100%;
	}
}

@media (max-width: 550px) {
	footer .footer-utilities {
   		flex-flow: column-reverse nowrap;
	}
	footer .footer-utilities-extras .catalogue-links .btn {
    	width: 50%;
    	display: flex;
    	flex-flow: column nowrap;
    	align-items: center;
    	justify-content: center;
	}
	footer .catalogue-links{
		width: 100%;
		align-items: stretch; 
	}
	.footer-utilities-address {
		padding-top: 10px;
		justify-content: center;
	}
	.address-container:nth-child(3) {
    	padding-left: 9px;
	}

}


@media (max-width: 450px) {
	.logo-top {
		margin: 0 8px;
	}
	.mobile-menu-icon{
		margin-right: 15px;
		right: 0px;
	}
}
@media (max-width: 415px) {
	footer ul#menu-main-footer-menu a{
	    font-size: 11px;
	}
	.dropdown-content section.dropdownSection-about {
    	padding: 0 0px 0 0;
	}
	.nav-topBar .nav-utiity-container>li {
    	padding: 10px 0px;
	}
	.nav-topBar .nav-utiity-container {
		padding: 10px 33px;
	}

}