.sidebar {
	width: 30%;
	float: left;
	padding: 0 20px 10px;
	ul {
		h3 {
		    text-transform: initial;
		    font-weight: 300;
		}
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	.title{
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid black;
		h6{
			display: inline-block;
			font-weight: 300;
		}
		i{
			@include fontSize(12);
		}
	}
	ul.recent-post-widget{

		li{
			max-width: 400px;
			height: 200px;
			margin: 20px auto;
		}
		a{
			width: 100%;
		    height: 100%;
		    background-position: center;
    		background-size: cover;
    		display: flex;
    		flex-flow: column nowrap;
    		justify-content: flex-end;
    		position: relative;
    		.caption{
    			background: rgba(0,0,0,1);
    			color: white;
    			text-align: center;
    			padding: 10px;
    		}
    		h5, h6{ font-weight: 300; }
    		h6{ color: $mediumGrey; font-style: italic;}
		}	
		.overlay {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background: rgba(0,0,0,0.5);
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			transition: all 0.2s ease;
		}
		li:hover .overlay{
			visibility: visible;
			opacity: 1;
		}
	}
	   
}
