
.main-post{
	padding-top: 120px;
	img.main{
		margin: 0 auto;
	}
	.container{
		padding-top: 45px;
	}
	section.banner{
		height: 55vh;
		background-size: cover;
		background-position: center center;
		margin-bottom: 50px;
	}
	article.post{
		padding: 0 30px;
		width: 70%;
		float: left;
		img{
			height: auto;
		}
		figure{
			padding: 25px 0;
		}
		figcaption{
			font-style: italic;
		}

		p{
			@include fontSize(17);
			line-height: 1.7;
			margin-bottom: 15px;
		}

	}
	h1{
		margin-bottom: 10px;
		text-align: left;
	}
	.entry-meta{
		@include fontSize(11);
		padding: 10px 0;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin-top: 20px;
	}
	.post-nav-below{
		padding: 10px 0px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		p a{
			@include fontSize(12);
			font-weight: 700;
		}
	}
}
.single-press-release, .single-media{
	article.post{
		h1{
			padding-top: 40px;
		}
		margin: 0 30px;
		width: auto;
		float: none;
	}
}
.single-media{
	h1{
		text-align: center;
	}
}
