.single-inspiration{
	img{
		margin: 0 auto;
	}
	.credits{
		justify-content: flex-end;
	}
}

.single-media{
	ul.heateor_sss_sharing_ul{
		width: 290px;
		margin: 0 auto !important;
	}
}


.post-type-archive-inspiration h1.page-title {
    padding-bottom: 52px;
}