$accent: #d2232a;
$white: #FFF;
$black: #000;
$lightGrey:#EAEAEA;
$mediumGrey: #BDBCBD;
$transparentWhite: rgba(256, 256, 256, 0.8);
$transparentBlack: rgba(0, 0, 0, 0.55);
$grey: #777;
$darkGrey: #676767;

$wrapperWidth: 2560px;
