$accent: #d2232a;
$white: #FFF;
$black: #000;
$lightGrey:#F7F7F7;
$mediumGrey: #BDBCBD;
$transparentWhite: rgba(256, 256, 256, 0.8);

$grey: #777;
$lightestGrey: #F7F7F7;


$wrapperWidth: 1900px;

//to delete
$yellow: #F4D022;
$teal: #74EBD5;
$purple: #9FACE6;
$gradient: linear-gradient(359deg, RGBA(116, 235, 213, 0.5) 0%, RGBA(159, 172, 230, 0.8) 100%);
$gradientThick: linear-gradient(270deg, RGBA(116, 235, 213, 1) 0%, RGBA(159, 172, 230, 1) 100%);
